* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*:focus {
    outline: none;
}

body {
    position: relative;
    background: #f0f0f0;
    font-family: "roboto", sans-serif;
}

.flex-div {
    display: flex;
    align-items: center;
}
.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    background: #fff;
    display: flex;
    align-items: center;
    padding: 0 2vw;
}

.toggle-btn {
    width: 20px;
    height: 10px;
    position: relative;
    cursor: pointer;
}

.toggle-btn span {
    position: absolute;
    width: 100%;
    height: 2px;
    top: 50%;
    transform: translateY(-50%);
    background: #979797;
}

.toggle-btn span:nth-child(1) {
    top: 0;
}

.toggle-btn span:nth-child(3) {
    top: 100%;
}

.logo {
    height: 25px;
    margin: 30px;
}
/* search */
.search-box {
    position: relative;
    max-width: 500px;
    width: 50%;
    height: 35px;
    display: flex;
    margin: auto;
}

.search-bar {
    width: 85%;
    height: 100%;
    border: 2px solid #dbdbdb;
    padding: 0 20px;
    font-size: 16px;
    text-transform: capitalize;
}

.search-btn {
    width: 10%;
    height: 100%;
    background: #f0f0f0;
    border: 2px solid #dbdbdb;
    border-left: none;
}

/* user */
.user-options {
    height: 35px;
    display: flex;
    margin-left: auto;
    align-items: center;
}

/* side-bar */

.side-bar {
    position: fixed;
    top: 60px;
    left: 0;
    min-width: 250px;
    width: 250px;
    height: calc(100vh - 60px);
    background: #fff;
    overflow-y: scroll;
}

.links {
    display: block;
    width: 100%;
    padding: 15px 20px 15px 15px;
    display: flex;
    align-items: center;
    text-transform: capitalize;
    color: #242424;
    font-size: 14px;
    font-weight: 500;
    text-decoration: none;
}

.links i {
    margin-right: 15px;
    margin-left: 10px;
}

.icon-image {
    width: 45px;
    height: 20px;
}

.links:hover,
.links.active {
    background: rgba(0, 0, 0, 0.1);
}

.separator {
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    margin: 10px 0;
}
.title-login {
    width: 100%;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    text-transform: capitalize;
    color: #242424;
    font-size: 14px;
    font-weight: 500;
    text-decoration: none;
}
.title-login i {
    margin-right: 15px;
}
.link-login {
    display: flex;
    margin: 10px;
    padding: 10px;
    border: 2px solid rgb(94, 94, 211);
    color: rgb(94, 94, 211);
    align-items: center;
}

.title {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 550;
    padding: 10px 20px;
    color: #979797;
}
.side-bar-hide {
    position: fixed;
    top: 60px;
    left: 0;
    min-width: 75px;
    width: 75px;
    height: calc(100vh - 60px);
    background: #fff;
    position: fixed;
}
.side-bar-hide .links {
    width: 75px;
    padding: 15px 0px 10px 0px;
    outline: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.side-bar-hide .links i {
    margin: 10px;
    padding-bottom: 10px
}

.side-bar-hide .links p {
    padding-top: 10px;
    font-size: 10px;
}
.show {
    display: block;
}
.hide {
    display: none;
}
